{% extends 'link.html' %}
{% load static %}
{% block content %}




    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">
      
            <!-- Sales Card -->
            <div class="col-xxl-3 col-md-6">
                <div class="card info-card sales-card bg-info">
  
                  
  
                  <div class="card-body ">
                    <h5 class="card-title"> Eleves</h5>
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <img src="static\assets\img\student.png" alt="" class="rounded-circle" style="width:75px; height:75px;">

                      </div>
                      <div class="ps-3">
                        <h6>{{total_eleves}}</h6>
  
                      </div>
                    </div>
                  </div>
  
                  </div>
                </div><!-- End Sales Card -->

            

                
                  <!-- Sales Card -->
                <div class="col-xxl-3 col-md-6">
                    <div class="card info-card sales-card bg-success">
                      <div class="card-body ">
                        <h5 class="card-title"> Classes</h5>
                        <div class="d-flex align-items-center">
                          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <img src="static\assets\img\classes.png" alt="" class="rounded-circle" style="width:75px; height:75px;">
    
                          </div>
                          <div class="ps-3">
                            <h6>{{total_classes}}</h6>
      
                          </div>
                        </div>
                      </div>
      
                    </div>
                </div><!-- End Sales Card -->
                  
                
                     
                      <!-- Sales Card -->
                <div class="col-xxl-3 col-md-6">
                  <div class="card info-card sales-card " style="background: #762870;">
                    <div class="card-body ">
                      <h5 class="card-title"> Notes </h5>
                      <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                          <img src="static\assets\img\notes.png" alt="" class="rounded-circle" style="width:75px; height:75px;">
  
                        </div>
                        <div class="ps-3">
                          <h6>{{total_notes}}</h6>
    
                        </div>
                      </div>
                    </div>
    
                     </div>
                   </div><!-- End Sales Card --> 

    </section>
    


{% endblock%}