{% extends 'link.html' %}
{% load static %}
{% block content %}


    <h1>Hello, world!</h1>
    <center><a href="/create_personnelAD" class="btn btn-primary"> Add new record</a></center> <br/>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Matricule</th>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Email</th>
            <th scope="col">Telephone</th>
            <th scope="col">Adresse</th>
            <th scope="col">Poste</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
            {% for value in personnelADS %}
          <tr>
            <th scope="row">{{value.id}}</th>
            <td>{{value.matricule}}</td>
            <td>{{value.first_name}}</td>
            <td>{{value.last_name}}</td>
            <td>{{value.email}}</td>
            <td>{{value.telephone}}</td>
            <td>{{value.adresse}}</td>
            <td>{{value.poste}}</td>
            <td>
              <button class="openModalButton btn btn-success btn-sm" data-id="{{ value.id }}"><i class="bi bi-pencil-fill"></i></button>        
              <a class="btn btn-danger btn-sm" onclick="return confirm('do you really want to delete this items?')" href="#"><i class="bi bi-trash-fill"></i></a>

          </td>
          </tr>
        {% empty %}
          <tr><td> No record found </td></tr>
        {% endfor %}
        </tbody>
      </table>
      
      <div class="modal fade" id="editPersonnelModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Modifier</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form method="POST" class="post_form" action="" id="editPersonnelForm">  
                {% csrf_token %}
                              <h3>Modifier les infos d'un enseignant</h3> <br/> 
               
                <div class="mb-3">
                    <label for="matricule" class="form-label"> Matricule </label>
                    <input type="text" name="matricule" class="form-control">
                  
                </div>
                <div class="mb-3">
                    <label for="first_name" class="form-label"> Nom </label>
                    <input type="text" name="first_name" class="form-control">
                  
                </div>
                <div class="mb-3">
                  <label for="last_name" class="form-label"> Prenom </label>
                  <input type="text" name="last_name" class="form-control">
                
              </div>
              <div class="mb-3">
                <label for="email" class="form-label"> Email </label>
                <input type="email" name="email" class="form-control">
              
              </div>
              <div class="mb-3">
                <label for="telephone" class="form-label"> Telephone </label>
                <input type="text" name="telephone" class="form-control">
              
              </div>
              <div class="mb-3">
                <label for="adresse" class="form-label"> Adresse </label>
                <input type="text" name="adresse" class="form-control">
              
              </div>
              <div class="mb-3">
                <label for="poste" class="form-label"> Poste </label>
                <input type="text" name="poste" class="form-control">
              
              </div>
              
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                  <button type="submit" class="btn btn-primary">Modifier</button>
                </div>
            </form>
                    
            </div>
         
          </div>
        </div>
      </div>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


      <script>
        $(document).ready(function(){
          $('.openModalButton').click(function(){
            var personnel_adId = $(this).data('id'); // Récupère l'ID du poste à partir de l'attribut data-id du bouton cliqué
            console.log('Identifiant du personnel :', personnel_adId);
            
            $('#editPersonnelModal').modal('show');

            // Fetch les données du poste et les affiche dans le formulaire du modal
            fetch(`/update_personnel/${personnel_adId}`)
              .then(response => response.json())
              .then(data => {
                console.log('Données du personnel :', data);
                var form = $('#editPersonnelModal').find('form');
                form.attr('action', `modifierpersonnel/${personnel_adId}`);
                form.find('input[name="matricule"]').val(data.matricule);
                form.find('input[name="first_name"]').val(data.first_name);
                form.find('input[name="last_name"]').val(data.last_name);
                form.find('input[name="email"]').val(data.email);
                form.find('input[name="telephone"]').val(data.telephone);
                form.find('input[name="adresse"]').val(data.adresse);
                form.find('input[name="poste"]').val(data.poste);
              })
              .catch(error => {
                console.error('Erreur lors de la récupération des données du personnel :', error);
              });
          });
        });
      </script>

      
{% endblock %}