{% extends 'link.html' %}
{% load static %}
{% block content %}



    <h1>Listes des eleves</h1>
    <center><a href="/create_Eleve" class="btn btn-primary"> Ajouter un vouvel eleve</a></center>
    <table class="table mt-3">
        <thead>
          
          <div class="search-bar">
            
            <form  class="search-form d-flex align-items-center" method="POST" action="/search_eleve">
              {% csrf_token %}
              <input type="text" name="query" placeholder="Search" title="Enter search keyword">
              <button type="submit" title="Search"><i class="bi bi-search"></i></button>
            </form>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Matricule</th>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">date_naiss</th>
            <th scope="col">Adresse</th>
            <th scope="col">Classe</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            {% for value in eleves %}
          <tr>
            <th scope="row">{{value.id}}</th>
            <td>{{value.matricule}}</td>
            <td>{{value.nom}}</td>
            <td>{{value.prenom}}</td>
            <td>{{value.date_naiss}}</td>
            <td>{{value.adresse}}</td>
            <td>{{value.classe}}</td>
            <td>
              <button class="openModalButton btn btn-success btn-sm" data-id="{{ value.id }}"><i class="bi bi-pencil-fill"></i></button>        
              <!--<a class="openModal btn btn-danger btn-sm" onclick="return confirm('do you really want to delete this items?')" href="delete_annee/"><i class="bi bi-trash-fill"></i></a> -->
              <button class="openModal btn btn-danger btn-sm" data-id="{{ value.id }}"><i class="bi bi-trash-fill"></i></button>  
              <a class="btn btn-primary btn-sm" href="/detail/{{ value.id }}"><i class="bi bi-card-text"></i></a>
 
            </td>
          </tr>
        {% empty %}
          <tr><td> No record found </td></tr>
        {% endfor %}
        </tbody>
      </table>
      <div class="modal fade" id="editEleveModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Modifier</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form method="POST" class="post_form" action="" id="editEleveForm">  
                {% csrf_token %}
                              <h3>Modifier les infos d'un enseignant</h3> <br/> 

                   <div class="mb-3">
      
                      {{form.as_p}}  
                    </div>           
              
              
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                  <button type="submit" class="btn btn-primary">Modifier</button>
                </div> 
            </form> 
                    
            </div> 
         
          </div>
        </div>
      </div>


      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

      <script>
        $(document).ready(function(){
          $('.openModalButton').click(function(){
            var eleveId = $(this).data('id'); // Récupère l'ID du poste à partir de l'attribut data-id du bouton cliqué
            console.log('Identifiant de l\'eleve :', eleveId);
            
            $('#editEleveModal').modal('show');

            // Fetch les données du poste et les affiche dans le formulaire du modal
            fetch(`/update_eleve/${eleveId}`)
              .then(response => response.json())
              .then(data => {
               console.log('Données de l\'élève :', data);
                var form = $('#editEleveModal').find('form');
                form.attr('action', `modifiereleve/${eleveId}`);
                form.find('input[name="matricule"]').val(data.matricule);
                form.find('input[name="nom"]').val(data.nom);
                form.find('input[name="prenom"]').val(data.prenom);
                form.find('input[name="date_naiss"]').val(data.date_naiss);
                form.find('input[name="adresse"]').val(data.adresse);
                form.find('select[name="classe"]').val(data.classe);
                // Pour annee_scolaire, il faut sélectionner les options multiples
                form.find('select[name="annee_scolaire"]').val(data.annee_scolaire);
              })
              .catch(error => {
                console.error('Erreur lors de la récupération des données du poste :', error);
              });
          });
        });
      </script>

      <script>
        //var deleteModal = $(document)
    
        $(document).ready(function(){
          $('.openModal').click(function(){
            var eleveId = $(this).data('id');
            console.log(eleveId);
         
            $('#deleteModal').modal('show');
            var form = $('#deleteModal').find('form')
            console.log(form);
            form.attr('action', 'delete_eleve/' + eleveId);
          })
        })
    </script>
      <!--search bar-->
      <script>
        $(document).ready(function(){
          //stoker les donnees du tableau dans une variable javascript
          var tableData = [];
          $('#eleveTable tbody tr').each(function(){
            var rowData = [];
            $(this).find('td').each(function(){
              rowData.push($(this).text());
            });
            tableData.push(rowData);
          });

          //initialisez datatables avec les donnees du tableau
          $('#eleveTable').DataTable({
            data: tableData, // utilisation des donnes stockees
            paging: true,
            searching: false, // desactiver la recherche par defaut de datatables
            info: false // supprimer l'info sur la recherche
          });

          // ajouter la fonction de recherche instantanee
          $('#search-input').on('input', function(){
            $('#eleveTable').DataTable().search($(this).val()).draw();
          });
        });
      </script>
      

      {% endblock %}